@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=BBH+Sans+Hegarty&family=Roboto:wght@900&display=swap');

:root{
    --logo-header-font-size: 3rem;
    --h1-font-size: 4rem;
    --logo-subtitle-font-size: 1rem;

    --logo-header-height: 20rem;
}

html{
    font-size: 16px;
}


body{
    font-family: 'Helvetica Neue', sans-serif;
    
    display: flex;
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}
a, p{
    text-align: center;
}

h1{
    font-size: var(--h1-font-size);
    text-align: center;

    color: #1b1c21;
}

label{
    display: block;
}

fieldset{
    display: flex;
    gap: 4rem;

    border: 0;

    justify-content:space-around;
}


.image-section{
    display: inline;
    position: relative;

    vertical-align: top;
    
    
}

.image-section > img{
    display: block;
    height: 100vh;
    width: auto;
}


#logo-header-text, #logo-header, #logo-subtitle{
    position: absolute;
    width: 100%;
    height: var(--logo-header-height);


    top: calc(50vh - var(--logo-header-height) / 2);
}

#logo-header{
    opacity: 0.5;
    background-color: black;
}

#logo-header-text, #logo-subtitle{
    font-family: "BBH Sans Bartle", system-ui;
    
    display: flex;
    font-size: var(--logo-header-font-size);
    color: white;
    
    align-items: center;
    justify-content: center;
}

#logo-subtitle{
    font-size: var(--logo-subtitle-font-size);
    top: calc(50vh - var(--logo-header-height) / 2 + 2rem);
    letter-spacing: 0.2rem;
}

#form-section{
    display: flex;
    flex-direction: column;

    align-items: center;
    background: #fcfaf1;

    width: 100%;

}

form{
    background: #ffffff;
    width: 100%;
    border-radius: 0.5rem;   
    padding: 50px;

    margin-top: 80px;

    box-shadow: 0px 5px 3px rgb(220, 220, 220);
}

input{
    font-size: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #03045e;
}

input:valid{
    border: 2px solid green;
}

input:invalid{
    border: 2px solid red;
}

button{
    width: 30%;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;

    margin-top: 40px;

    font-size: 1.5rem;

    color: white;
    background-color: green;
}

label{
    color: #03045e;
}

button:hover{
    background: grey;
}